* {
  margin: 0;
  padding: 0;
}
body {
  font: 400 16px/1.7 'Microsoft JhengHei', sans-serif;
  color: #444;
  height: 100%;
}
.app {
  height: 100%;
}
.centerBody {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}
article {
  margin-bottom: 100px;
  animation: fade-in;
  animation-duration: 1s;
  -webkit-animation: fade-in 1s;
  overflow-y: auto;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
